<h1>Login Page</h1>
<a routerLink="/courses" class="a">Go to Courses</a>
<a routerLink="/chat" class="a">Go to chat</a>
<a routerLink="/register" class="a">Go to register</a>  
<mat-card>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Login</button>
    </form>
   

 </mat-card>